.layoutDefault__header .row{
    display: flex;
    // justify-content: space-evenly;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}
.layoutDefault__header{
    padding: 20px 0 0 0;
    &-logo{
        color: #DAC667;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
    };
    &-cart{
        position: relative;
        div{
            position: absolute;
            font-size: 10px;
            top: -5px;
            right: -10px;
            width: 18px;
            height: 18px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            background-color: #FFC234;
            padding: 2px;
            &:hover{
                color: #fff !important;
            }
        }
    }
    &-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        color:#DAC667;
        font-size: 27px;
        font-weight: 500;
        color: #000;
            div:hover{
            color: #DAC667;
            cursor: pointer;
            transition: 0.5s;
        }
    }
    &-mid{
        color: #DAC667;
    }
    &-menu{
        background: #eee;
        ul{
            display: flex;
            margin: 0;
            padding: 0px 0;
            list-style: none;
        }
        li{
            font-weight: 450;
            padding: 10px 20px;
            cursor: pointer;
            &:hover{
                background: #FFC234;
                transition: 0.5s;
                color: #fff;
            }
        }
        .checked{
            background: #FFC234;
        }
    }
}


.dropdown-custom .ant-dropdown-menu{
    transition: all 0.015s ease-in-out !important;
    border-radius: 0;
    background-color: #fff;
    bottom: -10px;
    padding: 2px 35px;
}
.dropdown-custom .ant-dropdown-menu-item:hover{
    width: 100%;
    color: orange;
    border-radius: 0;
    background-color: #fff !important;
}
.nav-list{
    list-style: none;
    align-items: center;
    padding: 0;
    li{
        text-align: left !important;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover{
            background-color: #FFC234;
        }
    }
}
.nav-logo{
    display: none;
    cursor: pointer;
}

@media  (max-width: 768px){
    .nav-logo{
        display: inline-block;
        padding: 5px;
    }
    .search{
        display: none !important;
    }
    .layoutDefault__header-menu{
        ul{
            display: none;
        }
    }
}