.order{
    input, textarea, select{
        width: 100%;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 7px;
        border-radius: 7px;
    }
    &__info{
        background-color: #fff;
        padding: 5px 10px;
        margin-bottom: 20px;
        &-title{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }
    &__product{
        &-info{

            display: flex;
            align-items: center;
            background-color: #fff;
            padding: 20px 10px;
            border-radius: 5px;
        }
        &-image{
            width: 20%;
            img{
                width: 100%;
            }
        }
        &-title{
            .name{
                margin: 0;
                font-weight: 700;
            }
            .quantity{
                font-weight: 500;
                margin: 0;
            }
            .price{
                font-weight: 700;
                color: red;
                margin: 0;
            }
        }
    }
    &__price{
        background-color: #fff;
        margin-top: 10px;
        padding: 20px 10px;
        &-title{
            font-weight: 600;
            font-size: 20px;
            border-bottom: 1px dashed #000;
            padding-bottom: 10px;
        }
        &-info{
            min-height: 100px;
            padding-top: 10px;
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            align-items: center;
            .total-price{
                font-weight: 700;
                color: red;
            }
        }
        button{
            margin-top: 20px;
            border: 0;
            background-color: #FFC234;
            width: 100%;
            padding: 10px;
            color: #fff;
            font-weight: 600;
            border-radius: 7px;
            // border: 1px solid #fff;
            &:hover{
                background-color: #f1bf48;
                transition: 0.5s ease-in-out;
            }
        }
    }
}