.search{
    display: flex;
    position: relative;
    align-items: center;
    &__input{
        min-width: 100%;
        input{
            width: 100%;
            min-height: 40px;
            border: 2px solid #000;
            border-radius: 7px;
            padding: 4px;
            font-size: 13px;
        }
    }
    &__submit{
        background-color: #000;
        position: absolute;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        width: 35px;
        justify-content: center;
        border-radius: 7px;
        color: #fff;
        &:hover{
            background-color: #d6bf48;
            transition: 0.4s;
            cursor: pointer;
        }
    }
    &_suggest{
        position: absolute;
        z-index: 999;
        top: 100%;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        width: 100%;
        .suggest{
            &-item {
                cursor: pointer;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #ddd;
                padding: 5px 0;
            }
            &-image {
                width: 20%;
                img {
                    width: 100%;
                }
            }
            &-name {
                color: #000;
                font-weight: 600;
            }
            &-price {
                color: red;
                font-weight: 600;
            }
        }
    }
}